<!-- {% raw %} BROKEN HTML!!!!!!-->
<!-- <!doctype html> -->
<html>
  <head>
      <title>Simple tables</title>
      <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
    </head>
    <body>
    {{user.username}}
    <!-- {{table1}}

    <div class=page>
      <h1>Surfer groups</h1>
      {% for table in tables %}
        <h2>{{titles[loop.index]}}</h2>
        {{ table|safe }}
      {% endfor %}
      hi 
    </div> -->
    </body> 
<!-- {% endraw %} -->
</html>